//- (data-equalizer-watch)

mixin menux()
	div.Portfolio-item.Portfolio-skills.small-12.medium-3.large-3.columns(data-equalizer-watch)
		div.text-center <a class="menuvh" href="/my/#/skills"><div class="Portfolio-item-title">Skills</div> <p class="Portfolio-item-text">What I Usually <span>Do</span></p></a>
	div.Portfolio-item.Portfolio-work.small-12.medium-3.large-3.columns(data-equalizer-watch)
		div.text-center <a class="menuvh" href="/my/#/work"><div class="Portfolio-item-title">Work</div><p class="Portfolio-item-text">Examples of What I <span>Do</span></p></a> 
	div.Portfolio-item.Portfolio-contact.small-12.medium-3.large-3.columns(data-equalizer-watch)
		div.text-center <a class="menuvh" href="/my/#/contact"><div class="Portfolio-item-title">Contact</div><p class="Portfolio-item-text">Lets <span>Do</span> Something</p></a>

mixin menux2()
	.navmenu(data-equalizer)
		div.Portfolio-item.Portfolio-home.small-3.medium-2.large-2.columns(data-equalizer-watch)
			div.text-center <a class="menuvh" href="/"><div class="Portfolio-item-title">Home</div></a>
		div.Portfolio-item.Portfolio-skills.small-3.medium-2.large-2.columns(data-equalizer-watch)
			div.text-center <a class="menuvh" href="/my/#/skills"><div class="Portfolio-item-title"><span>My</span> Skills</div></a>
		div.Portfolio-item.Portfolio-work.small-3.medium-2.large-2.columns(data-equalizer-watch)
			div.text-center <a class="menuvh" href="/my/#/work"><div class="Portfolio-item-title"><span>My</span> Work</div></a> 
		div.Portfolio-item.Portfolio-contact.small-3.medium-3.large-3.columns(data-equalizer-watch)
			div.text-center <a class="menuvh" href="/my/#/contact"><div class="Portfolio-item-title"><span>Contact</span> Me</div></a>